[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=disco_spinach
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Disco Spinach Plugin
Comment=Uses CLIP guided diffusion to make exotic images.